canvas {
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
}

body {
  margin:0;
  background-color:black;
}


$border-light: #b78846;
$border-dark: rgb(153, 82, 12);
$border-width: 20px;
$ratio: 1.66666;


.canvas-main-container, .canvas-minimap-container {
  position:relative;
}

.canvas-main-container {
  width:100%;
  height:100%;
  border:5px solid $border-light;
  box-sizing: border-box;
}

.wrapper {
  width:100%;
  margin-left:auto;
  margin-right:auto;
  box-sizing: border-box;
}

.canvas-minimap-container {
  width:200px;
  height:120px;
  border:1px solid black;
  display:none;
}

#editor-panel {
  height:170px;
  background-color:#202058;
  color:white;
}
#toggle-editor {
  bottom: 15px;
  left: 15px;
  z-index: 1;
  position: absolute;
  border-radius: 100px;
  height: 70px;
  width: 70px;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  background-color: tan;
}

#tiles {
  display:flex;
  .tile {
    &.active {
      border:3px solid white;
    }
  }
}

#start {
  position:fixed;
  top:30%;
  left:50%;
  font-size:50px;
}


.game-ui {
  height:100px;
  background-color:green;

  .life-bar {
    height:20px;
    width:200px;
    border:1px solid white;
    background-color:black;

    &__filled {
      background-color:red;
      height:100%;
      width:100px;
    }
  }
}

